@import "../../vars.css";

/* General styling */
.container {
  position: relative;
  color: var(--color-text);
  margin-top: 50px;
  background: linear-gradient(180deg, #8d92a7 0%, #132a53 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

/* Contact button */
.contactBtn {
  text-decoration: none;
  background-color: var(--color-dark);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 17px;
  margin-top: 50px;
  box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.222);
  position: relative;
  cursor: pointer;
}

.contactBtn:hover {
  padding: 17px 26px;
  border-bottom: 3px solid rgb(224, 224, 210);
}

/* Form styling 
.showForm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #132a53;
}

label {
  font-size: 16px;
  font-weight: 500;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.submit,
.close {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit {
  background-color: #4caf50;
  color: white;
}

.close {
  background-color: #f44336;
  color: white;
}
/* Text styling */
.text h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 12px;
}

.text p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* Links styling */
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #09213b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(163, 122, 122, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #132a53;
}

form {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  border-color: #132a53;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #796363;
  border-radius: 5px;
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: linear-gradient(180deg, #626c92 0%, #8b96a8 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-text-fill-color: #fefefe;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #182637;
}

/* Responsive styling */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .contactBtn {
    display: flex;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .links {
    align-items: center;
  }
}