@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 2;
  margin: 0 10%;
}

.img {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
  display: flex;
}

.menuBtn {
  display: none;
  color: var(--color-secondary);;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  align-items: flex-start;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-secondary);
  text-decoration: none;
}

.menuItems a:hover{
  color: rgb(25, 25, 23);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(34, 34, 23);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .img{
    width: 100px;
    height:auto;
    flex-shrink: inherit;
    color: var(--color-secondary);
  }

  .image{
    width: 100px;
    height: auto;
    align-items: center;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    color: var(--color-secondary);
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    background:linear-gradient(180deg, #bdc3d5 0%, #213860 100%);
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(197, 202, 210);
    background: linear-gradient(
      0deg,
      rgba(77, 100, 139, 0.2) 0%,
      rgb(159, 171, 193) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
    color: var(--color-secondary);
  }
}